# Dependencies
node_modules/

# Build
dist/
build/

# Environment
.env
.env.local

# Logs
logs/
*.log
npm-debug.log*

# Testing
coverage/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Prisma
prisma/*.db
prisma/*.db-journal
